## ДЗ урок 1

##### 1) Классификация. База про спортсменов

*Креативная часть:* найти парамеры и комбинации их, которые будут увеличивать accuracy

*Техническая часть:* сделать под это всё удобные обёртки. Например, это функция, которая просто принимает список фичей, а на выходе показывает результат фита

In [188]:
import pandas as pd
import glob
import os
import numpy as np
import math
from sklearn import datasets, linear_model, model_selection
from sklearn.preprocessing import OrdinalEncoder

In [189]:
f = 'data/athletes_sochi.txt'
data = pd.read_csv(f).dropna()

data.head()

,age,birthdate,gender,height,name,weight,gold_medals,silver_medals,bronze_medals,total_medals,sport,country
0,17,1996-04-12,Male,1.72,Aaron Blunck,68.0,0,0,0,0,Freestyle Skiing,United States
1,27,1986-05-14,Male,1.85,Aaron March,85.0,0,0,0,0,Snowboard,Italy
2,21,1992-06-30,Male,1.78,Abzal Azhgaliyev,68.0,0,0,0,0,Short Track,Kazakhstan
4,21,1992-07-30,Male,1.86,Adam Barwood,82.0,0,0,0,0,Alpine Skiing,New Zealand
5,21,1992-12-18,Male,1.75,Adam Cieslar,57.0,0,0,0,0,Nordic Combined,Poland

In [190]:
data["BMI"] = data["weight"] / (data["height"]**2)

In [193]:
ord_enc = OrdinalEncoder()
data['country_code'] = ord_enc.fit_transform(data[['country']])
data['sport_code'] = ord_enc.fit_transform(data[['sport']])

data.head()

,age,birthdate,gender,height,name,weight,gold_medals,silver_medals,bronze_medals,total_medals,sport,country,BMI,country_code,sport_code
0,17,1996-04-12,Male,1.72,Aaron Blunck,68.0,0,0,0,0,Freestyle Skiing,United States,22.985398,79.0,5.0
1,27,1986-05-14,Male,1.85,Aaron March,85.0,0,0,0,0,Snowboard,Italy,24.835646,36.0,12.0
2,21,1992-06-30,Male,1.78,Abzal Azhgaliyev,68.0,0,0,0,0,Short Track,Kazakhstan,21.461937,39.0,9.0
4,21,1992-07-30,Male,1.86,Adam Barwood,82.0,0,0,0,0,Alpine Skiing,New Zealand,23.702162,54.0,0.0
5,21,1992-12-18,Male,1.75,Adam Cieslar,57.0,0,0,0,0,Nordic Combined,Poland,18.612245,59.0,8.0

In [195]:
alldata = data[['weight', 'height', 'BMI', 'gender', 'age', 'sport_code']]
alldata = alldata.sample(frac=1)

In [196]:
allinput = alldata[ ['weight', 'height', 'BMI', 'age', 'sport_code'] ]
alloutput = alldata["gender"].apply(lambda x: int(x == "Male"))

In [221]:
def predict(alldata, allinput, alloutput):
    X_train, X_test, Y_train, Y_test = model_selection.train_test_split(allinput, alloutput, test_size=0.2)
    model = linear_model.LogisticRegression()
    model.fit(X_train, Y_train)
    Y_test_predicted = model.predict(X_test)
    
def get_accuracy():
    [tn, fp], [fn, tp] = confusion_matrix(Y_test, Y_test_predicted)
    confusion_matrix(Y_test, Y_test_predicted)
    accuracy = (tn + tp) / (tp + fp + tn + fn)
    return 'Accuracy: {} \ {}'.format(accuracy, allinput.columns)

In [222]:
predict(alldata, allinput, alloutput)
get_accuracy()

"Accuracy: 0.8830645161290323 \\ Index(['weight', 'height', 'BMI', 'age', 'sport_code'], dtype='object')"